DATABASE_URL="postgresql://user:password@ep-example-pooler.region.aws.neon.tech/banter?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@ep-example.region.aws.neon.tech/banter?sslmode=require"
NEXTAUTH_SECRET="replace-me"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAILS="admin@example.com"
